
/* myStyleSheets.css */

.myImage {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; 
  -o-box-shadow: none;
  -ms-box-shadow: none;
  }

